<div *ngFor="let item of locations['items']">

 <div *ngIf="item.state!=''" >
    <button (click)="setDefaultLocation(item.lat, item.lon, item.city, item.state, item.country)">make default</button><a [routerLink]="['/weather', item.lat, item.lon, item.city, item.state, item.country]" >{{item.city + ', '+ item.state + ', ' + item.country}}</a>
  </div>
  <div *ngIf="item.state==''">
    <button (click)="setDefaultLocation1(item.lat, item.lon, item.city, item.country)">make default</button><a  [routerLink]="['/weather', item.lat, item.lon, item.city, '', item.country]" >{{item.city + ', '+ item.country}}</a>
  </div>
</div>

<router-outlet></router-outlet>
