<input (keyup)="somethingChanged($event)">

<p>total locations: {{cities.length}}</p>
<p>filtered locations: {{filteredcities.length}}</p>

<div *ngFor="let city of filteredcities ">
  <div *ngIf="city.state!=''" >
    <button (click)="addToFavorites(city.coord.lat, city.coord.lon, city.name, city.state, city.country)">Add</button>
    <a [routerLink]="['/weather', city.coord.lat, city.coord.lon, city.name, city.state, city.country]" >{{city.name + ', '+ city.state + ', ' + city.country}}</a>
  </div>
  <div *ngIf="city.state==''">
    <button (click)="addToFavorites1(city.coord.lat, city.coord.lon, city.name, city.country)">Add</button>
    <a  [routerLink]="['/weather', city.coord.lat, city.coord.lon, city.name, '', city.country]" >{{city.name + ', '+ city.country}}</a>
  </div>
</div>


<router-outlet></router-outlet>

