.scrollmenu 
  overflow: auto
  white-space: nowrap

.card
  display: inline-block

.weathericon 
  width: 50%
  height: 50%

.CurrentConditions--location
  font-weight: 600
  font-size: 1.25rem
  color: #fff

.CurrentConditions--timestamp
  font-size: 1.125rem
  font-weight: 400
  opacity: .65
  color: #fff

.CurrentConditions--card
  padding: 20px
  margin: 50px
  background-color: black
  background-color: hsla(0,0%,100%,.1)
  border-radius: 6px
  box-shadow: 0 0 12px 0 rgba(0,0,0,.2)

.detailsCard
  padding: 20px
  margin: 50px
  background-color: white

  border-radius: 6px
  box-shadow: 0 0 12px 0 rgba(0,0,0,.2)

.details-feelsLike
  font-size: 3.5rem
  font-weight: 600
  line-height: 1em

.details-feelsLike-label
  font-size: 1rem
  font-weight: 400

.detailsCard-heading
  font-size: 1.25rem
  font-weight: 600
  line-height: 1.5
  padding-bottom: 0
  padding: 16px

.sunriseSunset-icon
  fill: #febc11
  width: 24px
  height: 24px
  display: inline-block
  font-size: .875rem

.sunrisesunset-graph-path
  stroke: #e87538
  fill: none
  stroke-width: 3px
  stroke-linecap: round
  transform: rotate(180deg)

.details-list-item
  border-top: 1px solid #dedede
  display: flex
  flex-basis: 49%
  flex-grow: 1
  flex-shrink: 1
  padding: 10px 16px
  box-sizing: border-box
  margin-right: 6px

.details-list-item-label
  flex-grow: 1
  font-size: 1rem
  font-weight: 400
  min-width: 40%

.details-list-item-icon
  width: 24px
  height: 24px
  display: inline-block
  flex-shrink: 0
  box-sizing: content-box
  fill: #2b2b2b
  color: #2b2b2b

.CurrentConditions--tempValue
  font-size: 6rem
  line-height: .96em
  font-weight: 500
  color: #fff

.CurrentConditions--description
 font-size: 1.5rem
 font-weight: 700
 color: #fff
 line-height: 1.5 

.CurrentConditions--icon
 height: 100px
 width: 100px

.mat-tab-labels
 justify-content: space-between
 background-color: #2b2b2b

.mat-tab-label
 color: #fff

.Hourly--timestamp
  padding: 0 26px 21px
  font-size: 1rem
  opacity: .65
  color: #2b2b2b
